/* Slideshow */

.slideshow {
    display: flex;
      margin: 20px auto;
      overflow: hidden;
      width: 90%;
      position: relative;
      top: 100px;
    }
    
    .slideshowSlider {
      white-space: nowrap;
      transition: ease 1000ms;
    }
    
  
    .slide {
     display: inline-block;
      height: 500px;
      width: 100%;
      background: linear-gradient(rgba(7, 7, 7, 0.927), rgba(12, 12, 12, 0.878));
    }
    
    .slide img
    {
      display: flex;
      width: 100%;
      height: 100%;
      object-fit: inherit;
      opacity: 0.8;
    }
  
    .slide h1
    {
      position: absolute;
      background-color: aliceblue;
      padding: 20px;
      top: 50%;
      border-radius: 20px;
      transform: translate(-50%, -50%);
      margin-left: 50%;
      z-index: 999;
    }
    /* Buttons */
    
    .slideshowDots {
      text-align: center;
    }
    
    .slideshowDot {
      display: inline-block;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      cursor: pointer;
      margin: 15px 7px 0px;
    
      background-color: #c4c4c4;
    }
    
    .slideshowDot.active {
      background-color: #6a0dad;
    }
    